/* global styles */
html, body, #root {
    height: 100%;
    margin: 0;
    background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, p, span {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: lighter;
}

button {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder {
    color: #E2E2E2;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #E2E2E2;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #E2E2E2;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #E2E2E2;
}
:-moz-placeholder { /* Firefox 18- */
    color: #E2E2E2;
}

button:active {
    opacity: 1.0;
    filter: alpha(opacity=100);
}